ion-modal#recurring-modal {
  --height: auto;
  --width: 302px;
  --border-radius: 16px;

  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal#recurring-modal::part(backdrop) {
  opacity: 1;
}

.recurring {
  ion-list {
    background: var(--ion-trova-white);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
  }

  .ios ion-list {
    padding-bottom: 24px;
  }

  .md ion-list {
    padding-bottom: 20px;
  }

  &-title {
    color: 'black';
    text-align: center;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-top: 16px;
  }

  &-description {
    color: var(--ion-trova-input-placeholder);
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 14px auto 20px auto;
  }
  ion-item {
    --min-height: 0px !important;
  }
  &-buttons {
    ion-button {
      margin-top: 5px;
      width: 100%;
      height: 48px;
      margin-bottom: 10px;
    }
  }
  &-left-bottom {
    margin-right: 10px;
  }
  &-right-bottom {
    margin-left: 10px;
  }
  &-radio-item {
    --inner-padding-start: 0;
    --padding-start: 0;
    --padding-top: 4px;
    --padding-bottom: 4px;
    padding: 0 !important;
    margin: 0;
    min-height: auto;
    align-items: center;

    ion-label {
      font-size: 14px;
      color: black;
      font-family: 'Poppins';
    }
  }
  &-radio-item::part(native) {
    padding: 0 !important;
  }

  &-radio {
    --color-checked: #000000;
  }
}

.container {
  padding: 1px 25px;
}
