.appointment-card {
  padding-top: 8px;
  padding-left: 20px;
  height: auto;
  padding-bottom: 8px;

  &-title {
    color: var(--ion-trova-gray-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5px;
    display: -webkit-box;
    display: box; // fallback
    -webkit-line-clamp: 1;
    line-clamp: 1; // standard (not yet widely supported, but good for future)
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-description {
    color: var(--ion-trova-medium-gray);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: -webkit-box;
    display: box; // fallback
    -webkit-line-clamp: 2;
    line-clamp: 2; // standard (not yet widely supported, but good for future)
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-badge-text {
    color: var(--ion-trova-medium-gray);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 5px;
    position: relative;
    left: 5px;
  }

  &-meeting-icon {
    position: fixed;
    height: 23px;
    width: 23px;
    right: 16px;
  }
}
