# id API url
REACT_APP_ID_API_URL="YOUR_API_URL"
# provider API url
REACT_APP_PROVIDER_API_URL="YOUR_API_URL"
# practice API url
REACT_APP_PRACTICE_API_URL="YOUR_API_URL"
# billing API url
REACT_APP_BILLING_API_URL="YOUR_API_URL"
# scheduling API url
REACT_APP_SCHEDULING_API_URL="YOUR_API_URL"
# base personalized url
REACT_APP_PERSONALIZED_URL="YOUR_PERSONALIZED_BASE_DOMAIN"
# eruda console for mobile
REACT_APP_SHOW_ERUDA="false"
