.paid-in-advance {
  margin-top: 24px;
  height: 82%;
  overflow: scroll;

  ion-content {
    --background: var(--ion-trova-white);
  }

  ion-input {
    --background: var(--ion-trova-white);
  }

  &-title {
    color: var(--ion-trova-gray-text);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &-subtitle {
    color: var(--ion-trova-medium-gray);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &-service {
    color: var(--ion-trova-gray-text) !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    p {
      color: var(--ion-trova-medium-gray);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 4px;
    }
  }

  &-price {
    color: var(--ion-trova-gray-text);
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &-info-icon {
    height: 18px;
    width: 18px;
    position: relative;
    margin-left: 3px;
  }

  &-at-the-very-right {
    height: 18px;
    width: 18px;
    position: absolute;
    left: 78vw;
    top: 26px;
    color: var(--ion-trova-black)
  }

  &-schedule-button {
    width: 100%;
    margin-top: 22vh;
  }
}

.paid-in-advance-footer {
  display: flex;
  width: 100%;
  height: auto;
  max-height: 126px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--Divider, #D1D3D4);
  background: var(--White, #FFF);
  position: fixed;
  bottom: 0;

  &-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &-button-container {
    display: flex;
    width: 50%;
    height: auto;
    padding-left: 20px;

    ion-button {
      width: 100%;
    }
  }

  &-subtotal {
    color: var(--ion-trova-gray-text);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &-total {
    color: var(--ion-trova-gray-text);
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 4px;
  }
}