.appointment-details-edit {
  ion-content {
    --background: var(--ion-trova-page-background);
    padding: 8px 16px;
  }

  ion-list {
    background: transparent;
    padding: 8px 16px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }

  ion-select {
    --placeholder-color: var(--ion-trova-input-placeholder);
    --placeholder-opacity: 1;
    position: relative;
    margin-right: 10px;
  }

  &-title {
    color: var(--ion-trova-gray-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &-save-button {
    margin-top: 24px;
  }
}