.scheduling {
  border: none;
  box-shadow: none;
  border-radius: 0;

  nylas-date-picker::part(ndp__title) {
    display: none;
  }

  nylas-date-picker::part(ndp__month-header) {
    color: var(--ion-trova-gray-text);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  nylas-date-picker::part(ndp__date--current-day)::after {
    display: none;
  }

  nylas-date-picker::part(ndp__day) {
    color: var(--ion-trova-medium-gray);
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: var(--ion-trova-divider);
    padding: 5px;
    width: 97%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  nylas-date-picker::part(ndp__date) {
    background: var(--ion-trova-white);
    width: 20px;
    height: 20px;
    color: var(--ion-trova-gray-text);
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  nylas-date-picker::part(ndp__date--selected) {
    background: var(--ion-color-primary);
    border-radius: 30px;
    color: var(--ion-trova-white);
  }

  nylas-timeslot-picker::part(ntp__timeslot--selected) {
    background: var(--ion-trova-divider);
    color: var(--ion-trova-gray-text);
    border: none;
    box-shadow: none;
    outline: none;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  nylas-timeslot-picker::part(ntp__timeslot) {
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  // TODO: find the way to change color of next button
  nylas-timeslot-picker::part(ntp__button-primary) {
    background: red !important;
  }
}