.sign-in {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  margin-top: 140px;

  &-logo::part(image) {
    margin-bottom: 30px;
  }

  &-sign-in {
    color: var(--ion-trova-gray-text, #2E2E2E);
    font-family: 'Poppins Bold';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &-welcome {
    color: var(--ion-trova-black, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &-forgot-password {
    --border-radius: 5px;
    --color: var(--ion-trova-black, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .login-button {
    margin-top: 30px;
  }
}