.header-calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-day {
    color: var(--ion-trova-medium-gray);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
  }

  &-date {
    color: var(--ion-trova-gray-text);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}