.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;

  > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    width: 50%;
    text-align: center;
    &.on {
      left: 0;
      padding-left: 2px;
      color: #F36F25;
    }
    &.off {
      right: 0;
      padding-right: 4px;
      color: #fff;
    }
  }

  input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
  }

  input.check-toggle-round-flat:checked ~ .off {
    color: #F36F25;
  }
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;

  & + label {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #F36F25;
    border-radius: 60px;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px;
      background-color: #F36F25;
      border-radius: 60px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      bottom: 4px;
      width: 48px;
      background-color: #fff;
      border-radius: 52px;
      transition: margin 0.2s;
    }
  }

  &:checked + label::after {
    margin-left: 44px;
  }
}
