.event-card {
  &-event-wrapper-container {
    width: 100%;
    max-height: 40px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &-service {
    color: var(--ion-trova-gray-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &-patient-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    bottom: 2px;
  }

  &-patient {
    color: var(--ion-trova-gray-text);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5px;
  }
}