.event-card {
  &-event-wrapper-container {
    width: 100%;
    max-height: 40px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
  }

  &-service {
    color: var(--ion-trova-gray-text);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.more {
  color: var(--ion-trova-medium-gray);
  font-family: 'Poppins';
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 0 2px;
  padding: 0;
}