.my-profile {
  ion-content {
    --background: var(--ion-trova-page-background);
  }

  &-title {
    color: var(--ion-trova-gray-text);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}