.ios ion-header {
  --ion-safe-area-top: 60px;
}

.md ion-header {
  --ion-safe-area-top: 30px;
}

ion-button {
  --border-radius: 5px;
  --color: var(--ion-trova-white, #FFF);
  text-align: center;
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

ion-input.custom {
  background: var(--ion-trova-white, #FFF);
  --color: var(--ion-trova-input-label);
  --placeholder-color: var(--ion-trova-input-placeholder);
  --placeholder-opacity: 0.8;
  --padding-bottom: 8px;
  --padding-top: 0;
  --border-radius: 5px;
  max-height: auto;
}

ion-input.custom.ios .input-bottom,
ion-input.custom.md .input-bottom {
  border: none;
}

ion-input.custom.ios .input-bottom,
ion-input.custom.md .input-bottom {
  border: none;
  padding: 0;
  margin: 0;
}

ion-input.custom.ios .input-bottom .error-text,
ion-input.custom.md .input-bottom .error-text {
  padding-bottom: 10px;
}

ion-item.custom-input {
  --background: var(--ion-trova-white, #FFF);
  --border-radius: 5px;
  --border-color: var(--ion-trova-divider);
  --border-width: 1px;
}

ion-item {
  --background: transparent;
  --border-radius: 5px;
}

ion-label.custom-input {
  width: auto;
  color: var(--ion-trova-input-label);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  z-index: 10;
}

ion-textarea {
  height: 150px;
  width: 100%;
  --padding-start: 0;
}

ion-loading.custom-loading {
  --spinner-color: var(--ion-color-primary);
}

ion-tab-bar {
  --background: var(--ion-trova-white);
  border-top: 1px solid var(--ion-trova-shades-contrast, rgba(28, 55, 90, 0.16));
}

.ios ion-toolbar {
  --background: var(--ion-trova-page-background);
  border-bottom: 1px solid var(--ion-trova-divider);
}

.md ion-toolbar {
  --background: var(--ion-trova-page-background);
  border-bottom: 1px solid var(--ion-trova-divider);
  text-align: center;
  height: 85px;
}

.md ion-header {
  box-shadow: none;
}

.md ion-button {
  border-radius: 5px;
  text-transform: capitalize;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  min-height: 48px;
}

ion-badge {
  --background: var(--ion-color-primary);
  --color: var(--ion-trova-white);
  border-radius: 100px;
  --padding-end: 8px;
  --padding-start: 8px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  width: 33px;
  height: auto;
}

ion-card {
  --background: var(--ion-trova-white);
  border-radius: 8px;
  height: 110px;
  margin: 15px 15px 15px 15px;
}

ion-content {
  --background: var(--ion-trova-page-background);
}

ion-datetime::part(calendar-day) {
  color: var(--ion-trova-gray-text);
}

ion-datetime::part(month-year-button) {
  background: red;
  border-radius: 10px;
  display: none;
}

ion-datetime {
  ion-button {
    --background-color: red;
  }
}

ion-datetime::part(calendar-day active) {
  color: var(--ion-trova-white) !important;
  background: var(--ion-color-primary);
}

ion-datetime::part(calendar-day today) {
  color: var(--ion-color-primary);
}

.rbc-time-content>.rbc-day-slot {
  background-color: transparent;
}

.rbc-current-time-indicator {
  background-color: var(--ion-trova-medium-gray) !important;
}

.rbc-allday-cell {
  display: none;
  /* uncomment if we will see all day events
    .rbc-row-bg {
      .rbc-today {
        background-color: var(--ion-trova-white) !important;
      }
    }

    .rbc-row-content {
      background-color: var(--ion-trova-white) !important;
    }
  */
}

.rbc-month-view {
  .rbc-month-row {
    .rbc-row-bg {
      .rbc-day-bg {
        background-color: var(--ion-trova-white) !important;
      }
    }

    .rbc-row-content {
      .rbc-row {
        .rbc-date-cell {
          text-align: center;
        }

        .rbc-row-segment {
          button {
            color: var(--ion-color-primary);
            font-size: 16px;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }

  .rbc-header {
    background: var(--ion-trova-divider);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.rbc-time-header {

  .rbc-time-header-content {
    width: 100%;

    .rbc-row {
      width: 100%;

      .rbc-header {
        background: var(--ion-trova-divider);
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: none;

        button {
          width: 100%;

          div {
            div:nth-child(1) {
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            div:nth-child(2) {
              background: var(--ion-trova-white);
              height: 52px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      .rbc-header rbc-today {
        background: var(--ion-trova-divider);
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: none;

        button {
          width: 100%;

          div {
            div:nth-child(1) {
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            div:nth-child(2) {
              background: var(--ion-trova-white);
              height: 52px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

body {
  --ion-background-color: linear-gradient(149deg, #E9F8F8 0%, #FAF5EE 100%);
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
}